.main_payment {
  background-image: url("./assets/background1.webp");
  background-size: cover; /* Hace que la imagen cubra todo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita repeticiones */
  min-height: calc(100vh - 8rem);
  width: 100vw;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
  /* gap: calc(100vw - 52%); */
  gap: 1rem;
  padding: 4rem 0;
  justify-content: flex-start;
  align-items: center;
  background-color: #f3f5f9;
}

.branding_img {
  /* width: 400px; */
  /* width: calc(100vw - 45%); */
  width: 20rem;
  margin: auto;
}

.main_content {
  width: calc(100% - 3.5rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main_payment p,
.main_payment h1 {
  margin: 0;
  color: #3e4852;
}

.main_payment .main_content .tittle {
  color: #f3f5f9;
  background-color: #eb472a;
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.card {
  background-color: #ffffff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 1px 0.2rem 0.5rem #3e485211;
}

.info_in_content,
.images_content,
.billing_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* info_in_content */
/* .info_in_content {
} */

.info_in_content .detail_plate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.5rem;
}

.info_in_content .detail_plate .detail_plate_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info_in_content .detail_plate .detail_plate_txt .plate_tittle {
  color: #eb472a;
  font-size: 1.5rem;
  font-weight: bold;
}

.info_in_content .detail_plate .detail_plate_txt .plate {
  font-size: 2rem;
  font-weight: lighter;
}

.info_in_content .detail_in {
  width: 100%;
  max-width: 30rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2.5rem;
}

.info_in_content .detail_in .info_in_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  width: 8rem;
}

.info_in_content .detail_in .info_in_txt .param_tittle {
  font-size: 1.1rem;
  font-weight: bold;
}

.info_in_content .detail_in .info_in_txt .param {
  font-weight: lighter;
}

/* billing_content */
/* .billing_content{
} */

.billing_content .detail_billing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.billing_content .detail_billing .info_billing_txt {
  width: 100%;
  max-width: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

/* whatsapp_content */
.whatsapp_content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.whatsapp_content .whatsapp_tittle{
  text-align: left;
  font-size: 1.5rem;
  color: #3e4852;
}

.whatsapp_content .txt_whatsapp_component{
  border: none;
}

.actions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.actions2{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btnAction{
  font-size: 1.5rem;
  width: calc(50% - 1rem);
  box-shadow: 1px 0.2rem 0.5rem #3e485211;
}

.btnSuccess{
  background-color: #1553b1;
}

.btnSuccess:hover{
  color: #1553b1;
}
